extends ../layout/layout

block content
	p Login
	form(method='POST')
		input(type='text', name='username', class='test')
		input(type='password', name='password')
		button(type='submit' class='btn btn-primary') Login