doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="")  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang="")  
//if IE 8
  html.no-js.lt-ie9(lang="")  
// [if gt IE 8] <!
html.no-js(lang="en")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Sufee Admin - HTML5 Admin Template
    meta(name="description" content="Sufee Admin - HTML5 Admin Template")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-icon.png")
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" href="/admin-site/vendors/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/admin-site/vendors/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/admin-site/vendors/themify-icons/css/themify-icons.css")
    link(rel="stylesheet" href="/admin-site/vendors/flag-icon-css/css/flag-icon.min.css")
    link(rel="stylesheet" href="/admin-site/vendors/selectFX/css/cs-skin-elastic.css")
    link(rel="stylesheet" href="/admin-site/assets/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css")
  body.bg-dark
    .sufee-login.d-flex.align-content-center.flex-wrap
      .container
        .login-content
          .login-logo
            a(href="/")
              img.align-content(src="/admin-site/images/logo.png" alt="")
          .login-form
            form(action="/auth/login" method="POST")
              .form-group
                label Username
                input.form-control(type="text" name="username" placeholder="Username" required)
              .form-group
                label Password
                input.form-control(type="password" name="password" placeholder="Password" required)
              .checkbox
                label
                  input(type="checkbox")
                  |  Remember Me
                label.pull-right
                  a(href="#") Forgotten Password?
              button.btn.btn-success.btn-flat.m-b-30.m-t-30(type="submit") Sign in
    script(src="/admin-site/vendors/jquery/dist/jquery.min.js")
    script(src="/admin-site/vendors/popper.js/dist/umd/popper.min.js")
    script(src="/admin-site/vendors/bootstrap/dist/js/bootstrap.min.js")
    script(src="/admin-site/assets/js/main.js")
