extends ../layout/home-site

block content
  section
    // form
    .container
      .row.need-verify
        .need-verify-text 
          |Bạn cần xác thực tài khoản để vào tác vụ tài khoản
          br
          | Mã token đã được gửi vào email: #{email}
