extends ../layout/home-site

block content
 section
  .container
   .notification.col-sm-12.col-md-8.col-md-offset-2.mt-20.pb-20.mb-20
    .notification-sign-image
      img(src="/img/payment-failed.png" alt="")
    h4(style="color:#FF4949") #{message}
    .content
      hr
      p Quí khách vui lòng thanh toán lại
      hr
      .next-action
        a.btn-view-profile(href="/user") Xem thông tin tài khoản
        a.btn-continue-shopping(href="/") Tiếp tục mua sắm
