.col-custom-15{
	width: 20%;
	padding: 0 15px;
}
.logo img{
	min-width: 150px;
	min-height: 75px;
	width: 150px;
	height: 75px;
}
.search-box{
	flex-grow: 1;
	justify-content: flex-end;
}
.account-link{
	margin: 0px 5px;
}
.account-link img{
	min-width: 45px;
	min-height: 45px;
	width: 45px;
	height: 45px;
	border-radius: 25px;
}
.cart-store{
	position: relative;
	margin: 0px 5px;
}
.cart-store span{
	position: absolute;
	right: 0px;
}
.cart-store img {
	cursor: pointer;
}
.search-box{
	position: relative;
}
button.search-button{
	outline: 0 none;
}
.search-button{
	border: none;
	border-radius: 20px;
	background: #fff;
	position: absolute;
	right: 7px;
}
.search-input{
	border-radius: 20px;
	width: 100% !important;
	border: 1px solid black;
}
.container-custom{
	flex-wrap: nowrap !important;
}
.carousel-custom{
	margin-top: 5px;
}
.carousel-custom img{
	width: auto;
	height: 265px;
}
.banner-right{
	margin-top: 5px;
}
.banner-right-item:nth-child(2){
	margin-top: 5px;
}
.banner-right-item img{
	width: 100%;
	height: 130px;
}
.section-category{
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	width: 	100%;
}
.section-category-title{
	display: block;
}
.section-category-content{
	display: flex;
	flex-wrap: 	wrap;
	background: gray;
	justify-content: space-between;
}
.section-category-content-item{
	width: 	110px;
	height: 130px;
	margin-top: 1px;
	background: #fff;
}
.item-image{
	width: 110px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
}
.item-image:nth-child(1){
	background-image: url(../img/c/thoitrangnam.png);
}
.item-image:nth-child(2){
	background-image: url(img/c/thoitrangnu.png);
}
.item-image:nth-child(3){
	background-image: url(img/c/dienthoaiphukien.png);
}
.item-image:nth-child(4){
	background-image: url(img/c/mevabe.png);
}
.item-image:nth-child(5){
	background-image: url(img/c/thietbidientu.png);
}
.item-image:nth-child(6){
	background-image: url(img/c/nhacuadoisong.png);
}
.item-image:nth-child(7){
	background-image: url(img/c/laptop.png);
}
.item-image:nth-child(8){
	background-image: url(img/c/suckhoesacdep.png);
}
.item-image:nth-child(9){
	background-image: url(img/c/mayanhmayquayphim.png);
}
.item-image:nth-child(10){
	background-image: url(img/c/giaydepnu.png);
}
.item-image:nth-child(11){
	background-image: url(img/c/dongho.png);
}
.item-image:nth-child(12){
	background-image: url(img/c/tuivi.png);
}
.item-image:nth-child(13){
	background-image: url(img/c/daydepnam.png);
}
.item-image:nth-child(14){
	background-image: url(img/c/phukienthoitrang.png);
}
.item-image:nth-child(15){
	background-image: url(img/c/thietbigiadung.png);
}
.item-image:nth-child(16){
	background-image: url(img/c/thethao.png);
}
.item-image:nth-child(17){
	background-image: url(img/c/otoxemay.png);
}
.item-image:nth-child(18){
	background-image: url(img/c/nhasachonline.png);
}
.item-image:nth-child(19){
	background-image: url(img/c/thoitrangtreem.png);
}
.item-image:nth-child(20){
	background-image: url(img/c/dochoi.png);
}
.item-title{
	text-align: center;
}
.product-list{
	display: flex;
}
.product{
	position: relative;
	overflow: hidden;
	border: 1px black solid;
}
.product-image img{
	width: 100%;
}
.product-price{
	padding: 0px 15px;
}
.product-sale{
	position: absolute;
	width: 50px;
	height: 65px;
	right: 5px;
	text-align: center;
}
.sale-number{
	color: #ff5722;
	font-weight: bold;
}
.sale-lable{
	color: #fff;
	font-weight: bold;
}
.rectangular{
	width: 100%;
	height: 45px;
	background: rgba(255,212,36,.9);
}
.triangle{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 20px solid rgba(255,212,36,.9);
}
.product-title{
	text-align: center;
	font-weight: bold;
	background: black;
	color:#fff;
	margin-bottom: 5px;
}
.product-buy-now{
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -100%;
	background: rgba(0, 0, 0, 0.5);
	font-size: 1.5em;
	text-align: center;
	transition: 1s;
}
.product:hover > .product-buy-now{
	bottom: 0;

}
.product-buy-now a{
	line-height: 100%;
	color: #fff;
	text-decoration: none;
	padding: 25px 15px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.75);
}

footer{
	background: #f8f8f8;
}
footer a,
footer a:hover{
	text-decoration: none;
	color: #d42333;
}
.footer-top-block{
	display: flex;
	flex-wrap: wrap;
	background: #ffffff;
	border-top: 3px solid #d42333;
}
.footer-link{
	display: flex;
	align-items: center;
	width: max-content;
	margin:5px 0px;
	color: #333;
	font-size: 12px;
}
.footer-bottom-block{
	font-size: 12px;
	padding: 15px 0 20px 0;
	color: #666;
	background: #f8f8f8;
}
.footer-company-title{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.footer-address-section{
	margin-top: 5px;
}
.footer-address-section span{
	font-weight: bold;
}
.footer-address-block{
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.footer-mail-section span{
	font-size: 12px;
	color: #777;
}

ul.dropdown-custom{
	width: 100%;
	background: #f8f8f8;
	padding: 0;
	z-index: 2;
	position: relative;
}
ul.dropdown-custom ul{
	padding: 0;
	margin: 0;
}
.dropdown-custom li{
	padding: 10px 40px;
	border-top: 1px solid #fff;
}
.dropdown-custom li:hover{
	background: rgba(0, 0, 0, 0.1);
	transition: 0.75s all ease;

}
.dropdown-custom a{
	text-decoration: none;
}
.dropdown-button{
	padding: 15px 20px;
	width: 100%;
	cursor: pointer;
}
.show-dropdown{
	top: 100% !important;
}
.hide-dropdown{
	top: -15em !important;
}
.group-item{
	transition: 0.75s all ease;
	position: absolute;
	width: 100%;
	background: #f8f8f8;
	top: -15em;
	z-index: 1;
}

.arrow{
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 20px;
	font-style: initial;
	font-size: 20px;
	font-weight: 900;
	transition: 1s all ease;
}
.arrow:before{
	font-family: "Font Awesome 5 Free";
	content: "\f107";

}

/*CART*/

.card-custom{
  border: 4px dashed rgba(0,0,0,.125);
}
.card-body img{
  object-fit: cover;
}
.quantity {
    float: left;
    background-color: #eee;
    position: relative;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}
