extends ../layout/layout

block content
  .container
    .row
      #profile-panel.ool-12.col-md-3
        .profile-user
          #avatar-user
            image(src=user.avatar? user.avatar:'/img/anonymous-user.png')
          ul#profile-navigation
            li
              a(href="/user/update-address") Cập nhật thông tin
            li
              a(href="#") Đơn hàng
            li
              a(href="/user/update-address") Cập nhật địa chỉ
            li
              a(href="/user/change-password") Đổi mật khẩu
            li
              a(href="/auth/logout") Đăng xuất
      #profile-content.col-12.col-md-9
        h5#profile-content-title Thay đổi mật khẩu
        .col-5
          form(action=`/user/change-password` method="post")
            input(value=user._id type="hidden" name="idUser")
            .form-group
              label Mật khẩu củ
              input.form-control(type="password" name="oldPassword" placeholder="Mật khẩu củ")
              small.form-text.text-muted Cung cấp mật khẩu củ để đặt mới mật khẩu
            .form-group
              label Mật khẩu mới
              input.form-control(type="password" name="newPassword" placeholder="Mật khẩu mới")
            button.btn.btn-primary(type="submit") Thay đổi
