extends ../layout/home-site

block content
  section#form
    // form
    .container
      .row
        .col-sm-4.col-sm-offset-1
          .login-form
            // login form
            h2 Đăng nhập
            form(action="/auth/user/login" method="post")
             //- input(type="text" placeholder="Username" name="username")
             //- input(type="password" placeholder="Password" name="password")
             if errors
               each err in errors
                if err.param == 'username'
                  input(type="text" placeholder="Username" name="username" required)
                  label #{err.msg}
                if err.param == 'password'
                  input(type="password" placeholder="Password" name="password" required)
                  label #{err.msg}
             else 
              
                input(type="text" placeholder="Username" name="username" required)
                input(type="password" placeholder="Password" name="password" required)
                        
             button.btn.btn-default(type="submit") Login
          // /login form
        .col-sm-1
          h2.or OR
        .col-sm-4
          .signup-form
            // sign up form
            h2 Đăng ký
            form(action="/auth/user/register" method="post")
              input(type="text" placeholder="Họ" name="firstnameUser" required)
              input(type="text" placeholder="Tên" name="lastnameUser" required)
              input(type="text" placeholder="Username" name="usernameUser" required)
              if errRegister
                p #{errRegister}
              input(type="password" placeholder="Password" name="passwordUser" required)
              input(type="text" placeholder="Email" name="emailUser" required)
              input(type="text" placeholder="Số điện thoại" name="phoneUser" required)
              
              button.btn.btn-default(type="submit") Signup
          // /sign up form
          // /form
