extends ../layout/layout

block content

	.container
		.row
			.col-6.offset-md-3
				form(action='./' method='POST' enctype='multipart/form-data')
					legend: h1 Create Product
					.form-group
						lable Name
						input(type='text' class='form-control' name='nameproduct')
					.form-group
						lable Description
						input(type='text' class='form-control' name='description')
					.form-group
						lable Image
						input(type='file' class='form-control' name='imageproduct')
					button(type='submit' class='btn btn-primary') Create