html(lang='en')
	head
		meta(charset='UTF-8')
		title Document
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
		// Owl carousel
		link(rel='stylesheet', href='/assets_owl_carousel/owlcarousel/assets/owl.carousel.min.css')
		link(rel='stylesheet', href='/assets_owl_carousel/owlcarousel/assets/owl.theme.default.min.css')
		// Extra margin padding
		link(rel='stylesheet', type='text/css', href='/css/extra-margin-padding.css')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
	body
		block content
		footer


      
