doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    // Owl carousel
    link(rel='stylesheet', href='/assets_owl_carousel/owlcarousel/assets/owl.carousel.min.css')
    link(rel='stylesheet', href='/assets_owl_carousel/owlcarousel/assets/owl.theme.default.min.css')
    // Extra margin padding
    link(rel='stylesheet', type='text/css', href='/css/extra-margin-padding.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    // Just an image
    nav.navbar.navbar-light.bg-light
      .container.container-custom
        a.navbar-brand.logo(href='#')
          img(src='/img/logo-kane-store.png', alt='')
        form.form-inline.search-box(name='search-form')
          input.form-control.search-input(type='search', placeholder='Search on store', aria-label='Search')
          button.search-button(type='submit')
            i.fas.fa-search
        .cart-store
          span.badge.badge-pill.badge-danger 1
          a(href='cart/')
           img(src='/img/cart-icon.png', width='45', height='45', alt='')
        .account-link
          img(src='/img/avatar.jpg', width='45', height='45', alt='')
    block content
    footer
      .footer-top-block.mt-20.mb-20.pt-20.overflow-h
        .container
          .row
            .col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
              h6.footer-title Chính sách Mua hàng và Bảo hành
              a.footer-link(href='#') Chính sách điện máy
              a.footer-link(href='#') Chính sách đổi hàng
              a.footer-link(href='#') Chính sách bảo hành
              a.footer-link(href='#') Chính sách thanh toán
              a.footer-link(href='#') Chính sách trả góp
              a.footer-link(href='#') Báo giá
            .col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
              h6.footer-title Chính sách Mua hàng và Bảo hành
              a.footer-link(href='#') Chính sách điện máy
              a.footer-link(href='#') Chính sách đổi hàng
              a.footer-link(href='#') Chính sách bảo hành
              a.footer-link(href='#') Chính sách thanh toán
              a.footer-link(href='#') Chính sách trả góp
              a.footer-link(href='#') Báo giá
            .col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
              h6.footer-title Thông tin KaneStore
              a.footer-link(href='#') Thông tin liên hệ
              a.footer-link(href='#') Giới thiệu
              a.footer-link(href='#') Hỏi đáp
              a.footer-link(href='#') Tin công nghệ
              a.footer-link(href='#') Tuyển dụng
            .col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
              a.footer-link(href='#')
                img.img-fluid(src='/img/da-dang-ky.png', alt='')
              .footer-mail-section
                span Liên hệ Hợp tác và Mua hàng:
                a.footer-link(href='mailto:contact@kanstore.vn') contact@kanstore.vn
              .footer-mail-section
                span Liên hệ Hợp tác và Mua hàng:
                a.footer-link(href='mailto:contact@kanstore.vn') contact@kanstore.vn
          .row
            .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
              .footer-banking-block.mt-20.mb-20
                h6 Danh sách các ngân hàng thanh toán online
                img.img-fluid(src='/img/banklist.jpg', alt='')
      .footer-bottom-block
        .container
          .row
            .col-12.col-sm-12.col-md-5.col-lg-5.col-xl-5
              h3.footer-company-title CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ kanestore
              | ©2007 - 2018 Công Ty Cổ Phần Thương Mại - Dịch Vụ KaneStore / GPĐKKD số 0304998358 do Sở KHĐT TP.HCM cấp
            .col-12.col-sm-12.col-md-7.col-lg-7.col-xl-7.footer-address-block
              .footer-address-section
                span Văn phòng điều hành miền Bắc:
                |  Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quân Đống Đa, Hà Nội
              .footer-address-section
                span Văn phòng điều hành miền Nam:
                |  Tầng 7, tòa nhà số 198 Nguyễn Thị Minh Khai, Phường 6, Quận 3, TP. Hồ Chí Minh
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Owl-carousel-javascript
    script(src='/assets_owl_carousel/vendors/jquery.min.js')
    script(src='/assets_owl_carousel/owlcarousel/owl.carousel.js')
    // Bootstrap 4
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='/js/script.js', type='text/javascript', charset='utf-8', async='', defer='')
